.card-wrapper {
  .card-link-custom {
    color: #0254a7;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 0.875rem;
  }

  .card-text,
  .card-title {
    color: #333333;
  }

  .card-title {
    font-size: 1rem;
    font-weight: 500;
  }

  .icon-rtl,
  .icon-ltr {
    display: flex;
    align-items: center;

    svg {
      height: 15px;
      width: 15px;
    }
  }

  .icon-rtl {
    transform: rotate(180deg);
    margin-left: 0.5rem;
  }

  .icon-ltr {
    margin-right: 0.5rem;
  }

  .timeline-card {
    height: 400px;

    @media screen and (min-width: 576px) {
      & {
        height: 350px;
      }
    }

    @media screen and (min-width: 1280px) {
      & {
        height: 100%;
      }
    }
  }

  .timeline-decoration-wrapper {
    height: 5rem;
  }

  .timeline-dashed-border {
    border: 1px dashed var(--bs-dark-bg-subtle);
  }

  .card-image-wrapper {
    min-height: 130px;
  }

  .h5 {
    font-size: 2rem !important;
  }
}
