@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./assets/fonts/Roboto_Flex/RobotoFlex.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    url("./assets/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf")
      format("truetype");
}

body {
  font-family: "Roboto" !important;
}
